*{
    box-sizing: border-box;
}



ul{
    list-style-type: none;
    
}

ul li {
    display: inline;
    padding-right: 5px;
}

ul li a{
    color: #75C3B3;
    text-decoration: none;
}

ol li{
    text-align: justify;
    padding: 5px;
    padding-right: 20px;
}

main{
    margin: auto;
    max-width: 1000px;
    display: grid;
    grid-template-areas: "h h h"
                        "n n n"
                        "a a as"
                        "f f f";
    grid-template-columns: 1fr 1fr 1fr;
}

header{
    grid-area: h;
}

h1{
    color: #008768;
    margin: 0px;
    padding-left: 15px;
}

nav{
    grid-area: n;
    background: #008768;
    
}

article{
    grid-area: a;
}

aside{
    grid-area: as;
}

footer{
    grid-area: f;
    text-align: center;
}

img{
    width: 100%;
    border: 1px solid grey;
    padding: 5px;
}

#tarolo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}


.szoveg{
    margin: 5px;
    border: 1px solid grey;
    border-radius: 10px;
}

.szoveg2{
    margin: 5px;
    border-radius: 10px;
}

.alsodiv{
    background-color: rgb(218, 218, 218);
    height: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px
}

.padding{
    padding: 10px;
    color: #008768;
}
table{
    border-collapse: collapse;
    width: 100%;
}

td, th{
    text-align: left;
    padding: 8px;	
}

th{
    border-bottom: 2px solid black;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

@media screen and (max-width: 768px) {
    main{
        grid-template-areas: "h"
                            "n"
                            "a"
                            "as"
                            "f  ";
        grid-template-columns: 1fr;
    }
}